@font-face {
  font-family: ruba;
  src: url(https://steemmonsters.com/styles/fonts/ruba_oblique-webfont.woff);
}

body {
  background-color: #002A30;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 400;
}

hr {
  background-color: #007888;
  height: 1px;
}

.notification:hover {
  cursor: pointer;
  opacity: 0.8;
}

.title, .subtitle {
  color: white;
}

.navbar {
  background-color: #002a30;
  border-bottom: 1px solid #007888;
}

.navbar-item {
  color: white;
}

a {
  color: #fcc366;
}

a:hover {
  color: #ec971f;
}

.button {
  font-family: 'ruba', sans-serif;
  background-color: #f0ad4e;
  border-radius: 1px;
  border-width: 0;
  color: #333;
  font-weight: 700;
}

.button span.icon svg {
  color: #333;
}

.button:hover {
  color: white;
  background-color: #ec971f;
}

.table {
  background-color: #004a54;
  color: white;
}

.table a {
  color: #fcc366;
  border-bottom-color: #fcc366;
}

.table thead th {
  color: white;
}

.tabs li.is-active a {
  color: #fcc366;
}
