.theme-darkmode {
  // Import Bulma's core
  @import "~bulma/sass/utilities/_all";
  @import "./global/variables.scss";
  // Set your colors
  $primary: #38007D;
  $info: #272727;
  $tag: #04F3C6;
  $primary-second: #e0e0e0;
  // Setup $colors to use as bulma classes (e.g. 'is-twitter')
  $colors: (
          "white": ($white, $black),
          "black": ($black, $white),
          "light": ($light, $light-invert),
          "dark": ($dark, $dark-invert),
          "primary": ($primary, $primary-invert),
          "info": ($info, $info-invert),
          "success": ($success, $success-invert),
          "warning": ($warning, $warning-invert),
          "danger": ($danger, $danger-invert),
  );
  $background: #272727;
  $background-second: #333333;
  // Links
  $link: $primary;
  $link-invert: $primary-invert;
  $link-focus-border: $primary;
  $logo: url("https://tokenbb.io/wp-content/uploads/2018/11/icon-reverse.png");
  // Import Bulma and Buefy styles
  @import "~bulma";
  @import "~buefy/src/scss/buefy";
  @import "~bulma-extensions/bulma-slider/dist/css/bulma-slider.sass";
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000000;
  }
  /* background */
  body {
    background-color: $background;
  }
  /* Forum Link Colors*/
  a {
    color: white;
  }
  a:hover {
    color: $tag;
  }
  .title {
    color: white;
  }
  strong {
    color: white;
  }
  .logo {
    content: $logo;
  }
  /* Upvote Button Front-page */
  .field.has-addons .control:last-child .button {
    color: $tag;
  }
  .container .is-top-left .button{
    background-color: $primary;
  }
  /* Top Bar Navigation */
  .navbar-item img {
    max-height: 3.75rem;
  }
  #nav {
    background-color: $background;
    background: $background;
    color: $tag;
    a {
      font-weight: bold;
      color: $tag;

      &.router-link-exact-active {
        color: $tag;
      }
    }
    a:hover {
      color: white;
    }
    .navbar-item {
      border-radius: 5px;
      background-color: $background;
      background: $background;
    }
    .navbar-item:hover {
      background-color: white;
      background: $background;
    }
    .button {
      color: $tag;
      background-color: $primary;
      border-color: $tag;
      border-width: 2px;
    }
    .button:hover {
      color: $primary;
      background-color: $tag;
      border-color: $primary;
      border-width: 2px;
    }
    .dropdown-content {
      background-color: $background;
    }
    a.dropdown-item {
      padding-right: 0px !important;
      width: 210px;
    }
    .dropdown-content a:hover {
      background-color: $primary;
      color: $tag;
    }
  }
  /* Category Dropdown */
  .container .level-left .button {
    background-color: $background;
    color: $tag;
    border-color: $tag;
    border-width: 2px;
  }
  .dropdown-content {
    background-color: $background;
  }
  .dropdown-content a {
    color: $tag;
  }
  .dropdown-content a:hover {
    color: $tag;
    background: $primary;
  }
  a.dropdown-item {
    padding-right: 0px !important;
    width: 210px;
  }
  /* New Topic Button */
  .container .level-right .level-item .topic-style .button {
    background: $primary;
    color: white;
    border-color: $tag;
    border-width: 2px;
  }
  .container .level-right .level-item .topic-style .button:hover {
    background-color: $tag;
    color: $primary;
    border-color: $primary;
    border-width: 2px;
    transition-duration: 450ms;
  }
  /* Front-Page Table Styling */
  .table {
    background-color: $background;
  }
  /* Front-Page Table Styling - Stripes Styling */
  .table.is-striped tbody tr:not(.is-selected):nth-child(even) {
    background: $background-second;
  }
  /* Front-Page Table Styling - Head */
  .table thead th {
    color: $tag;
  }
  /* Front-Page Table Styling - Information */
  .table td {
    color: white;
    font-size: 13px;
  }
  .table a {
    font-size: 16px;
  }
  /* Front-Page Table Styling - Category */
  .tag:not(body).is-info {
    background-color: $primary-second;
    color: $info;
  }
  background-color: white;
  /* Percentage Gauge Label */
  .percent-label {
    color: $tag;
  }
  /*------ Pinned Post ------*/
  .b-table tr.pinned {
    margin-top: 20px;
    a {
      color: white;
    }
    a:hover {
      color: $tag;
    }
    .icon {
      color: $tag;
    }
    .dropdown-trigger {
      background-color: white;
    }
  }
  tr.pinned td > span > a {
    font-weight: bold;
  }
  tr.pinned td > span > a > span.tag {
    font-weight: normal;
  }
  /*--------- Thread Content ------------*/
  article {
    color: white;
  }
  .content h1 {
    color: $tag;
  }
  .content h2 {
    color: $tag;
  }
  .content h3 {
    color: $tag;
  }
  .content h4 {
    color: $tag;
  }
  .content h5 {
    color: $tag;
  }
  .content h6 {
    color: $tag;
  }
  article a {
    text-decoration: underline;
    color: $tag;
  }
  .container.fill {
    background-color: $background-second;
    background: $background-second;
    border-radius: 25px;
    padding: 20px;
    border-color: $tag;
  }
  .quillWrapper {
    background-color: $background;
    color: $tag;
  }
  /* Settings Page */
  form .label {
    color: $tag;
  }
  table tr:hover {
    background: none;
  }
  form.new-topic {
    width: 500px;
  }
  form.new-reply {
    width: 640px;
  }
  .spacer {
    height: 300px;
  }
  .post {
    margin-bottom: 2rem;
  }
  .post-body {
    border-bottom: 1px solid $primary;
  }
  .upvote {
    .vertical {
      display: flex;
      align-items: center;
      min-width: 3rem;
    }
    .popover {
      width: 12rem;
    }
  }
  form.new-reply ul,
  form.new-topic ul {
    list-style: disc !important;
  }
  // make sure to have all sensible defaults set
  @import "./global/sensible-defaults.scss";
}
