.theme-default {
  // Import Bulma's core
  @import "~bulma/sass/utilities/_all";

  @import "./global/variables.scss";

  // Set your colors
  $primary: #0008ef;
  $primary-invert: findColorInvert($primary);
  $twitter: #6562ff;
  $twitter-invert: findColorInvert($twitter);

  @import "./global/variables.scss";

  // Setup $colors to use as bulma classes (e.g. 'is-twitter')
  $colors: (
          "white": ($white, $black),
          "black": ($black, $white),
          "light": ($light, $light-invert),
          "dark": ($dark, $dark-invert),
          "primary": ($primary, $primary-invert),
          "info": ($info, $info-invert),
          "success": ($success, $success-invert),
          "warning": ($warning, $warning-invert),
          "danger": ($danger, $danger-invert),
          "twitter": ($twitter, $twitter-invert)
  );

  $background: rgb(7, 47, 0);

  // Links
  $link: $primary;
  $link-invert: $primary-invert;
  $link-focus-border: $primary;

  $logo: url("https://tokenbb.bt-stage.com/favicon.ico");

  // Import Bulma and Buefy styles
  @import "~bulma";
  @import "~buefy/src/scss/buefy";
  @import "~bulma-extensions/bulma-slider/dist/css/bulma-slider.sass";

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .logo {
    content:$logo;
  }

  #nav {
    background-color: #002a30;
    background: linear-gradient(to bottom, #080530 0%, #392651 93%, #888587 100%);
    color: #bbb;
    font-family: ruba, sans-serif;

    // padding: 30px;
    a {
      font-weight: bold;
      color: #bbb;
      &.router-link-exact-active {
        color: $primary;
      }
    }
  }

  .container.fill {
    background-color: $background;
    background: linear-gradient(to bottom, #080530 0%, #392651 53%, #888587 100%);
    border-radius: 25px;
    padding: 20px;
  }

  .quillWrapper {
    background-color: $background;
    color: white;
  }

  .b-table tr.pinned {
    color: $pinned-color;
    background-color: $pinned-background-color;
    a {
      color: $pinned-color;
    }
    a:hover {
      color: $pinned-color;
    }
  }
  tr.pinned td > span > a {
    font-weight: bold;
  }
  tr.pinned td > span > a > span.tag {
    font-weight: normal;
  }

  form.new-topic {
    width: 500px;
  }

  form.new-reply {
    width: 640px;
  }

  .spacer {
    height: 300px;
  }

  .post {
    margin-bottom: 2rem;
  }

  .post-body {
    border-bottom: 1px solid $post-border-color;
  }

  .upvote {
    .vertical {
      display: flex;
      align-items: center;
      min-width: 3rem;
    }
    .popover {
      width: 12rem;
    }
  }

}
