.theme-silver {
  // Import Bulma's core
  @import "~bulma/sass/utilities/_all";

  @import "./global/variables.scss";

// Set your colors
$primary: #fbbd08;
$info: #0d0e34;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
        "white": ($white, $black),
        "black": ($black, $white),
        "light": ($light, $light-invert),
        "dark": ($dark, $dark-invert),
        "primary": ($primary, $primary-invert),
        "info": ($info, $info-invert),
        "success": ($success, $success-invert),
        "warning": ($warning, $warning-invert),
        "danger": ($danger, $danger-invert),

);

$background: #050505;
$background-second: #111111;

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$logo: url("https://staging.drugwars.io/images/logo3.png");

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "~bulma-extensions/bulma-slider/dist/css/bulma-slider.sass";

#app {
  font-family: Poppins,Helvetica Neue,Arial,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
}
/* background */
html {
font-size: 15px;
background: url(images/background.jphttps://staging.drugwars.io/images/background.jpg) no-repeat 50% fixed !important;
}
body {
  background-color: $background;
}
/* Forum Link Colors*/
a {
  color: white;
}

a:hover {
  color: $primary;
}
.title {
  color: $primary;
}
strong {
  color: $primary;
}

.logo {
  content:$logo;
}

.content {
  blockquote {
    background-color: $background;
  }
}
/* Top Bar Navigation */
.navbar-item img {
  max-height: 3.75rem;
}
#nav {
  background-color: $background;
  background: $background;
  color: $primary;
  a {
    font-weight: bold;
    color: $primary;
    &.router-link-exact-active {
      color: $primary;
    }
  }
  a:hover {
    color: white;
  }
  .navbar-item {
    border-radius: 0px;
    background-color: $background;
    background: $background;
  }
  .navbar-item:hover {
    background-color: $info;
    background: $background;
  }
  .button {
    color: white;
    background-color: $background;
  }
  .dropdown-content {
    background-color: $background;
  }
}
/* Category Dropdown */
.container .level-left .button {
  background-color: $background;
  border-color: $primary;
  color: $primary;
}
.dropdown-content {
  background-color: $background;
}
.dropdown-content a {
  color: $primary;
}
.dropdown-content a:hover {
  color: white;
  background: none;
}
/* New Topic Button */
.container .level-right .button {
  background: $primary;
  color: $background;
}
.level-right .button:hover {
  color: $info;
}
/* Front-Page Table Styling */
.table {
  background-color: $background;
}
/* Front-Page Table Styling - Stripes Styling */
.table.is-striped tbody tr:not(.is-selected):nth-child(even) {
  background: $background-second;
}
/* Front-Page Table Styling - Head */
.table thead th {
  color: $primary;
}
/* Front-Page Table Styling - Information */
.table td {
  color: white;
}
/* Front-Page Table Styling - Category */
.tag {
  color: white;
}
/* Percentage Gauge Label */
.percent-label {
  color: $primary;
}
/*------ Pinned Post ------*/
.b-table tr.pinned {
  margin-top: 20px;
  color: white;
  background-color: $info;
  a {
    color: white;
  }
  a:hover {
    color: $primary;
  }
  td p {
    color: white;
  }
  .icon {
    color: $primary;
  }
}
tr.pinned td > span > a {
  font-weight: bold;
}
tr.pinned td > span > a > span.tag {
  font-weight: normal;
}
/*--------- Thread Content ------------*/
article {
  color: white;
}
.content h1 {
  color: $primary-invert;
}
.content h2 {
  color: $primary-invert;
}
.content h3 {
  color: $primary-invert;
}
.content h4 {
  color: $primary-invert;
}
.content h5 {
  color: $primary-invert;
}
.content h6 {
  color: $primary-invert;
}
article a {
  text-decoration: underline;
}
.container.fill {
  background-color: $background-second;
  background: $background-second;
  border-radius: 25px;
  padding: 20px;
  border-color: $primary;
}
.quillWrapper {
  background-color: $background;
  color: $primary-invert;
}
/* Settings Page */
form .label {
  color: $primary-invert;
}
table tr:hover {
  background: none;
}
form.new-topic {
  width: 500px;
}

form.new-reply {
  width: 640px;
}

.spacer {
  height: 300px;
}

.post {
  margin-bottom: 2rem;
}

.post-body {
  border-bottom: 1px solid $primary;
}

.upvote {
  .vertical {
    display: flex;
    align-items: center;
    min-width: 3rem;
  }
  .popover {
    width: 12rem;
  }
}

form.new-reply ul,
form.new-topic ul {
  list-style: disc !important;
}

// make sure to have all sensible defaults set
@import "./global/sensible-defaults.scss";

}
