.theme-drugwars {
  background-color: #020202;
 // Set your brand colors
 $primary: #FFC400;  
 $tag: #00A32A;
 // Import Bulma's core
 @import "~bulma/sass/utilities/_all";
 @import "./global/variables.scss";
 $logo: url("https://drugwars.io/img/drugwars.png");
 // Import Bulma and Buefy styles
 @import "~bulma";
 @import "~buefy/src/scss/buefy";
 @import "~bulma-extensions/bulma-slider/dist/css/bulma-slider.sass";
 #app {
  font-family: American Captain,Helvetica,Arial,sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 //Set Colors
 $background: #020202;
 $background-content: #121212;
 $content: #f3f3f3;
 $link:#FFC400;
 $border: #00A32A;

html, section {
   background-color: $background;
   font-size: 16px;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   text-size-adjust: 100%;
 }
 body {
  color: $content;
 }
 a {
   color: $link;
   cursor: pointer;
   text-decoration: none; 
 }
 a strong {
   color: currentColor; 
 }
 a:hover {
   color: $content; 
 }
 span {
   color: $content;
 }
 // Category Page
 .box {
   background-color: $background-content;
   margin: 0px 2px 0 2px; 
   border-radius: 6px;
   color: $content;
   -webkit-box-shadow: 3px 3px 0px 0px rgba(255,196,0,1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(255,196,0,1);
  box-shadow: 3px 3px 0px 0px rgba(255,196,0,1);
   display: block;
   padding: 1.25rem; 
 }
h6.card-header-title a {
 color: $content;
}
.cat-style.box {
 margin-left: 10px;
 border: 1px solid $background;
}
.cat-style.box:hover {
 background-color: $background;
 border-color: $background-content;
 .cprops-title {
  color: $link;
}
}
.cprops-title {
  font-size: 20px; 
  font-weight: 600;
}
.b-table .icon {
  color: $tag;
}
.b-table .table {
  background-color: $background;
}
.card {
 background-color: $background;
}
.card-content {
 padding: 0.2rem;
}
.card-header-title {
 margin-bottom: 0px;
}

// Navbar Style
.navbar {
 background-color: $background;
 z-index: 30; 
}
.navbar-burger {
 color: $content;
}
 .navbar-burger span {
   background-color: currentColor;
 }
 .navbar-menu {
   background-color: $background;
   padding: 0.5rem 0; 
 }
//Button
.button.is-small {
 background-color: $border;
 border-color: $border;
 border-width: 1px;
 color: $content;
 justify-content: center;
 padding-bottom: calc(0.5em - 1px);
 padding-left: 1em;
 padding-right: 1em;
 padding-top: calc(0.5em - 1px);
 text-align: center;
 font-size: 1em;
 min-width: 100px;
}
.button.is-small:hover, .button.is-hovered {
 border-color: $content;
 color: $content; 
}
.button.is-small:focus, .button.is-focused {
 border-color: $content;
 color: $content; 
}
.button.is-small:focus:not(:active), .button.is-focused:not(:active) {
   box-shadow: 0 0 0 0.125em rgba(134, 148, 164, 0.25); 
 }
.button.is-small:active, .button.is-active {
 border-color: transparent;
 color: $content; 
}
.dropdown-menu {
 display: none;
 left: 0;
 min-width: 12rem;
 padding-top: 4px;
 position: absolute;
 top: 100%;
 z-index: 20; }

.dropdown-content {
 background-color: $background-content;
 border-radius: 0;
 box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
 padding-bottom: 0.5rem;
 padding-top: 0.5rem; }

.dropdown-item {
 color: $content;
 display: block;
 font-size: 0.875rem;
 line-height: 1.5;
 padding: 0.375rem 1rem;
 position: relative; }

a.dropdown-item,
button.dropdown-item {
 padding-right: 3rem;
 text-align: left;
 white-space: nowrap;
 width: 100%; 
}
 a.dropdown-item:hover,
 button.dropdown-item:hover {
   background-color: $background-content;
   color: $link; 
  }
 a.dropdown-item.is-active,
 button.dropdown-item.is-active {
   background-color: $link;
   color: $tag; 
  }
.dropdown-divider {
 background-color: $border;
 border: none;
 display: block;
 height: 1px;
 margin: 0.5rem 0; 
}
.breadcrumb a {
 color: $link;
}
.breadcrumb a:hover {
 color: white;
}
.topic-nav {
 margin: 10px 0 10px 0;
}
//Category Page {
 .card-header {
   border-bottom: 1px solid $link;
   box-shadow: none;
 } 
.table {
   width: 100%; 
 }
.table td, .table th {
   border: 1px solid $border;
   border-width: 0 0 1px;
   padding: 0.5em 0.75em;
   vertical-align: top; }
 .table th {
   color: #fff;
   text-align: left; }
 .table thead td,
 .table thead th {
   border-width: 0 0 2px;
   color: #fff; }
 .table tfoot td,
 .table tfoot th {
   border-width: 2px 0 0;
   color: #fff; }
 .table tbody tr:last-child td,
 .table tbody tr:last-child th {
   border-bottom-width: 0; 
 }
 .label {
   color: $content; 
 }
 .setting-view {
   h1,h2,h3,h4,h5,h6 {
     color: $content;
   }
 }
//Topic View Page {
 .topic-view {
   blockquote {
      background-color: $background;
      border-left: 5px solid $primary;
      padding: 1.25em 1.5em; 
   }
   h1,h2,h3,h4,h5,h6 {
     color: #fff;
     font-weight: 600;
     line-height: 1.125; 
   }
   strong {
     color: #fff;
     font-weight: 700; 
   }
   pre {
     -webkit-overflow-scrolling: touch;
     background-color: $background-content;
     color: $content;
     font-size: 0.875em;
     overflow-x: auto;
     padding: 1.25rem 1.5rem;
     white-space: pre;
     word-wrap: normal; 
   }
   pre code {
       background-color: $background;
       color: currentColor;
       font-size: 1em;
       padding: 0; 
     }
   code {
     background-color: $background;
     color: $tag;
     font-size: 0.875em;
     font-weight: normal;
     padding: 0.25em 0.5em 0.25em; 
   }
   .content table thead th {
     color: #fff; }
 }
 .markdown-body blockquote {
  color: $content;
}
//Post List Page
span.tag.is-small {
 background-color: $background;
 border: 1px solid $background-content;
}
.topic-list {
 .box {
   margin-bottom: 5px;
   border: 1px solid transparent;
   .icon.is-small {
     color: $content;
   }
 }
 .box:hover {
   background-color: $background;
   border-color: $background-content;
 }
 h2.title.is-6 {
   color: $content;
 }
}
.post-page {
 .quote-this a {
   color: $content;
 }
 .edit-this a {
   color: $content;
 }
 .quote-this a:hover {
   color: $link;
 }
 .edit-this a:hover {
   color: $link;
 }
 .icon.is-medium {
   color: $primary;
 }
 .upvote-drop-control .dropdown-content {
   border: 1px solid $background;
   box-shadow: 2px 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
 }
}
.pagination {
 margin: 25px 0 25px 0;
}
a.pagination-link {
 color: $content;
 background-color: $background;
 border: 1px solid $content;
}
a.pagination-link:hover {
 color: $primary;
}
a.pagination-link.is-current {
 font-size: 0.9rem;
 background-color: $background;
 border-color: $primary;
}
// make sure to have all sensible defaults set
 @import "./global/sensible-defaults.scss";
}

 
