.theme-monsters {

  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  @import url('../public/themes/monsters/fonts/monsters-fonts.css');

  background-color: #001B1F;
  $logo: url("../public/themes/monsters/splinterlands_logo_fx_1200.png");

  // Set your brand colors
  $primary: #df691a;
  $tag: #04F3C6;

  // Import Bulma's core
  @import "~bulma/sass/utilities/_all";
  @import "./global/variables.scss";
  // Import Bulma and Buefy styles
  @import "~bulma";
  @import "~buefy/src/scss/buefy";
  @import "~bulma-extensions/bulma-slider/dist/css/bulma-slider.sass";

  #app {
    font-family: 'Open Sans', serif, 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  //Set Colors
  $background: #001B1F;
  $background-content: #002A30;
  $content: #dee5ed;

  $link: #FFEDA0;

  // Media Queries
  $retina: "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (     -o-min-device-pixel-ratio: 2/1), only screen and (        min-device-pixel-ratio: 2), only screen and (                min-resolution: 192dpi), only screen and (                min-resolution: 2dppx)";

  body {
    background: url("../public/themes/monsters/bg_splinter-magic.png") no-repeat center center $background;
    background-size: cover;
    background-attachment: fixed;
  }

  section {
    font-size: 20px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
  }

  @media #{$retina} {
    section {
      background: url("../public/themes/monsters/bg_splinter-magic@2x.png") no-repeat center center $background;
    }
  }

  body {
    color: $content;
  }

  .markdown-body blockquote {
    color: $content;
  }

  a {
    color: $link;
    cursor: pointer;
    text-decoration: none;
  }

  a strong {
    color: currentColor;
  }

  a:hover {
    color: $content;
  }

  .container .container {
    width: 100%;
  }

  .card-content {
    padding: 0;
  }

  .main,
  .b-table .table-wrapper,
  .post-page main,
  form.new-topic {
    padding: 30px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
  }

  .box {
    background-color: $background-content;
    border-radius: 15px;
    color: $content;
    display: block;
    padding: 2rem;
    border: 0;
    margin: 0 0 10px 0 !important;
    padding: 1rem 1.5rem !important;
    line-height: 2rem;
  }

  .table-wrapper .table tr:nth-child(even) .box {
    background-color: #001B1F;
  }

  .table-wrapper .table tr:last-child .box {
    margin-bottom: 0 !important;
  }

  .table-wrapper .table tr .box:hover {
    background-color: #1a4045;
  }

  h6.card-header-title a {
    color: $content;
  }

  .column {
    padding: 0 !important;
  }

  .cat-style.box {
    margin-left: 10px;
  }

  .card {
    background-color: $background-content;
  }

  .card-header-title {
    margin-bottom: 0px;
  }

  // Navbar Style
  .navbar {
    background: #002a30;
    background: -moz-linear-gradient(left, #002a30 0%, #007888 100%);
    background: -webkit-linear-gradient(left, #002a30 0%, #007888 100%);
    background: linear-gradient(to right, #002a30 0%, #007888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002a30', endColorstr='#007888', GradientType=1);
    z-index: 30;
    min-height: unset;
  }

  .navbar-tabs {
    min-height: unset;
  }

  .navbar-menu {
    padding: 0;
  }

  @media screen and (max-width: 1087px) {
    .navbar-menu {
      background-color: #002A30;
    }
  }

  .nav-logo {
    margin-left: 30px;
  }

  .nav-logo a.navbar-item {
    background: $logo no-repeat center center;
    background-size: contain !important;
    width: 318px;
    height: 55px;
    padding: 0;
    margin: 5px 0;
  }

  @media #{$retina} {
    .nav-logo a.navbar-item {
      background: $logo no-repeat center center;
    }
  }

  .navbar .logo {
    display: none;
    content: none;
  }

  .navbar-burger {
    color: #dee5ed;
  }

  .navbar-burger span {
    background-color: currentColor;
  }

  .navbar-menu {
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    padding: 0.5rem 0;
  }

  .navbar .button.is-small {
    font-size: 20px;
    background-color: transparent;
    border: 0;
    color: #86CED9;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .navbar .button.is-small:hover,
  .navbar .button.is-hovered,
  .navbar .button.is-small:focus,
  .navbar .button.is-focused,
  .navbar .button.is-small:active,
  .navbar .button.is-active {
    color: #fff;
    background-color: transparent;
  }

  .navbar .button.is-small span {
    color: #86CED9;
  }

  .navbar .button.is-small:hover span,
  .navbar .button.is-hovered span,
  .navbar .button.is-small:focus span,
  .navbar .button.is-focused span,
  .navbar .button.is-small:active span,
  .navbar .button.is-active span {
    color: #fff;
  }

  .navbar-item,
  .navbar-link {
    padding: 0 30px 0 0;
  }

  .navbar-item .image.avatar {
    width: 38px !important;
    height: 38px !important;
  }

  .navbar-item .avatar img {
    width: 38px;
    height: 38px;
    max-height: none;
    max-width: none;
  }

  // Button
  .button.is-small {
    border-radius: 8px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Nanami Bold Oblique', sans-serif;
    background-color: #C3631D;
    border: 0;
    color: #fff;
    justify-content: center;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.50);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.50);
  }

  .button.is-small:hover,
  .button.is-hovered,
  .button.is-small:focus,
  .button.is-focused,
  .button.is-small:active,
  .button.is-active {
    background-color: #c97334;
  }

  .button.is-small span {
    color: #fff;
  }

  // Tag
  span.tag.is-small {
    background: #000 !important;
    border: 0 !important;
    border-radius: 8px !important;
    padding: .1rem 1.5rem !important;
  }

  // Dropdown Menu
  .dropdown-menu {
    display: none;
    left: 0;
    min-width: 12rem;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    z-index: 20;
  }

  .dropdown-content {
    background-color: $background-content;
    border-radius: 0;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  .dropdown-item {
    color: #dee5ed;
    display: block;
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 0.375rem 1rem;
    position: relative;
  }

  .markdown-body .dropdown-item {
    color: #2c3e50;
  }

  a.dropdown-item,
  button.dropdown-item {
    padding-right: 3rem;
    text-align: left;
    white-space: nowrap;
    width: 100%;
  }

  a.dropdown-item:hover,
  button.dropdown-item:hover,
  a.dropdown-item.is-active,
  button.dropdown-item.is-active {
    background-color: #FFEDA0;
    color: #001B1F
  }

  .dropdown-divider {
    background-color: #4E5D6C;
    border: none;
    display: block;
    height: 1px;
    margin: 0.5rem 0;
  }

  // Breadcrumb
  .breadcrumb a,
  .breadcrumb li + li::before {
    color: #FFEDA0;
    font-size: 16px;
    text-transform: uppercase;
  }

  .breadcrumb a:hover {
    color: $primary;
  }

  .container > .level {
    margin-bottom: 1.5rem;
  }

  .container > .level-left {
    margin-bottom: .5rem;
  }

  .nav-control {
    margin: 0 !important;
  }

  .topic-nav {
    margin: 0;
    color: #FFEDA0;
    font-size: 16px;
  }

  // Category Page {
  .card-header {
    border-bottom: 1px solid $background;
    box-shadow: none;
  }

  .table {
    width: 100%;
  }

  .table td, .table th {
    border: 1px solid #4E5D6C;
    border-width: 0 0 1px;
    padding: 0.5em 0.75em;
    vertical-align: top;
  }

  .table th {
    color: #bdcbdb;
    text-align: left;
  }

  .table thead td,
  .table thead th {
    border-width: 0 0 2px;
    color: #bdcbdb;
  }

  .table tfoot td,
  .table tfoot th {
    border-width: 2px 0 0;
    color: #bdcbdb;
  }

  .table tbody tr:last-child td,
  .table tbody tr:last-child th {
    border-bottom-width: 0;
  }

  .label {
    color: #dee5ed;
  }

  .setting-view {
    h1, h2, h3, h4, h5, h6 {
      color: $content;
    }
  }

  .b-table .table {
    background-color: transparent;
    padding: 0 !important;
  }

  .card-content .box span {
    font-size: 16px;
    color: #FFEDA0;
  }

  .card-content .box span.cprops-title {
    font-size: 20px;
    font-weight: 600;
    color: $content;
    text-transform: uppercase;
  }

  .post-stats .b-tooltip.is-black .avatar.is-16x16 {
    top: 0.5rem;
  }

  // Topic View Page {
  .topic-view {

    blockquote {
      background-color: $background;
      border-left: 5px solid $primary;
      padding: 1.25em 1.5em;
    }

    h1, h2, h3, h4, h5, h6 {
      color: #bdcbdb;
      font-weight: 600;
      line-height: 1.125;
    }

    strong {
      color: #bdcbdb;
      font-weight: 700;
    }

    pre {
      -webkit-overflow-scrolling: touch;
      background-color: #2B3E50;
      color: #dee5ed;
      font-size: 0.875em;
      overflow-x: auto;
      padding: 1.25rem 1.5rem;
      white-space: pre;
      word-wrap: normal;
    }

    pre code {
      background-color: $background;
      color: currentColor;
      font-size: 1em;
      padding: 0;
    }

    code {
      background-color: #2B3E50;
      color: #d9534f;
      font-size: 0.875em;
      font-weight: normal;
      padding: 0.25em 0.5em 0.25em;
    }

    .content table thead th {
      color: #bdcbdb;
    }
  }

  // Post List Page
  span.tag.is-small {
    background-color: $background;
    border: 1px solid $background-content;
  }

  .topic-list {
    .box {
      .icon.is-small {
        color: $content;
      }
    }

    h2.title.is-6 {
      color: $content;
      font-size: 20px;
    }

    h2.title.is-6 .icon.is-small {
      color: #79C0C9;
      font-size: 2rem;
      margin-right: .5rem;
    }

    .box .post-stats span {
      font-size: 16px !important;
      margin-right: 4px !important;
      margin-left: 4px !important;
    }
  }

  .post-page {
    .title.is-3 {
      font-family: 'Nanami Bold Oblique', sans-serif;
      color: #fff;
      font-size: 30px;
    }

    .box .level .level-right .level-item {
      color: #FFEDA0;
    }

    .quote-this,
    .edit-this {
      padding-bottom: 15px;
    }

    .quote-this {
      font-size: 16px;
    }

    .quote-this a {
      color: $content;
    }

    .quote-this .icon.is-small {
      margin-right: .5rem;
    }

    .edit-this a {
      color: $content;
    }

    .quote-this a:hover {
      color: $link;
    }

    .edit-this a:hover {
      color: $link;
    }

    .icon.is-medium {
      color: $primary;
    }

    .post .upvote-control {
      background: #000000;
      border-radius: 8px;
      padding: .25rem 2.5rem;
      top: 0;
    }

    .upvote-drop-control .dropdown-content {
      border: 1px solid $background;
      box-shadow: 2px 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    }
  }

  // Pagination
  .pagination {
    margin: 25px 0 25px 0;
  }

  .pagination-link,
  .pagination-next,
  .pagination-previous {
    font-family: 'Nanami Bold Oblique', sans-serif;
    color: #FFF;
    background-color: #002A30;
    border: 1px solid #002A30;
    font-size: 20px;
  }

  .pagination-link:focus,
  .pagination-next:focus,
  .pagination-previous:focus {
    border: 1px solid #002A30;
  }

  .pagination-link:hover,
  .pagination-next:hover,
  .pagination-previous:hover,
  .pagination-link:active,
  .pagination-next:active,
  .pagination-previous:active {
    border: 1px solid #FFEDA0;
    color: #FFEDA0;
  }

  .pagination .pagination-previous[disabled],
  .pagination .pagination-next[disabled],
  .pagination .pagination-link[disabled],
  .pagination a.pagination-link.is-current {
    background-color: #067080;
    border: 1px solid #067080;
    color: #002A30;
    font-size: 20px;
    opacity: unset;
  }

  // make sure to have all sensible defaults set
  @import "./global/sensible-defaults.scss";

}
