// Import Bulma's core
@import "~bulma/sass/utilities/_all";

html {
  font-size: 21px;
}

@font-face {
  font-family: 'ruba';
  src: url('https://steemmonsters.com/styles/fonts/ruba_oblique-webfont.woff') format('woff'), /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'OpenSans';
  src: url('https://steemmonsters.com/styles/fonts/Open_Sans/OpenSans-Regular.ttf') format('woff'), /* Pretty Modern Browsers */
}

@import "./variables.scss";

// Set your colors
$primary: #d58512;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

$info: $green;

$background: #002A30;
$family-primary: 'OpenSans', sans-serif;
$light-blue: #00454E;

$background-image: url('https://s3.amazonaws.com/steemmonsters/website/buy-cards-bg.jpg');

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
  "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$radius-small: 1px;
$radius: 2px;
$radius-large: 3px;

$body-background-color: $background;
$body-color: #fcc366;

$table-background-color: #001519;
$table-striped-row-even-background-color: #212E2F;
$table-color: white;
$table-head-cell-color: white;
$table-cell-border-width: 0;

$hr-background-color: $green;
// $hr-height: 1px;

$title-color: white;
$control-radius: 0;
$control-radius-small: 0;

$table-head-cell-border-width: 0;

$label-color: white;

$body-color: white;
$strong-color: white;
$text-strong: white;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "~bulma-extensions/bulma-slider/dist/css/bulma-slider.sass";

.navbar-brand img {
  height: 100%;
  max-height: 2.5rem;
}

#app {
  background-image: $background-image;
}

#nav {
  background-color: #002a30;
  background: linear-gradient(to bottom, #002a30 0%, #004851 93%, #007888 100%);
  color: #bbb;
  font-family: ruba, sans-serif;

  // padding: 30px;
  a {
    font-weight: bold;
    color: #bbb;
    &.router-link-exact-active {
      color: $primary;
    }
  }
}

.navbar-item {
  color: white;
}

button.button, a.button {
  border-radius: 0px;
  font-family: ruba, sans-serif;
}

.b-table .table {
  border-color: $light-blue;
  border-radius: 20px;
}

.b-table .table a {
  color: white;
  font-weight: bold;
}

.b-table .table a:hover {
  color: #FCC366;
}

a.dropdown-item:hover,
.dropdown .dropdown-menu .has-link a:hover {
  background-color: #eee;
  &.is-active {
    background-color: $primary;
  }
}

.quillWrapper {
  background-color: white;
  color: black;
}
